.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-features_Icon-1 {
  width: 2.357421875em;
}

.icon-features_Icon-2 {
  width: 2.357421875em;
}

.icon-features_Icon-3 {
  width: 2.357421875em;
}

.icon-features_Icon-4 {
  width: 2.357421875em;
}
